{% extends "base.html" %}
{% block title %}Про проект{% endblock %}
{% block content %}
    <h1>Про цей сайт</h1>
    <p>Цей веб-сайт розроблено в рамках лабораторної роботи з дисципліни "Full-Stack розробка інтелектуальних додатків".</p>
    <p><strong>Технології:</strong> Python, Flask, SQLAlchamy, PostgreSQL.</p>
    <p>Сайт присвячено творчості каліфорнійського гурту <em>The Neighbourhood</em>.</p>
    <hr>
    <p class="text-muted">Розробник: Студентка групи 444-б Бондарева Дар'я</p>
{% endblock %}